.navbar-container {
  /* background-color: grey; */
  height: 44px;
  /* width: 500px; */
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-bottom: 1px solid #ebebeb;
}

.logo {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  margin-left: 20px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-buttons {
  font-size: 26px;
  font-family: "Merriweather", serif;
  color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 44px;
  cursor: pointer;
  margin-right: 20px;
}
